nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;              /* Activamos Flexbox */
    justify-content: center;    /* Centra horizontalmente los items */
    align-items: center;        /* Centra verticalmente (si es necesario) */
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.05rem;   
    text-transform: uppercase;
    font-weight: 100;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #111;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Secciones principales */
  section {    
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  
  aside {
    background-color: #f1f1f1;
    padding: 20px;
    border-left: 4px solid #C1440E;
    border-radius: 8px;
    font-size: 0.95rem;
  }
  
  /* Títulos */
  .subtitulo {
    color: #C1440E;
    margin-top: 0;
  }
  
  h3 {
    color: #588157;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }

  /************************PAGINA CONTACTO********************/
  #MainContacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
  }
  #CajaContacto , #CajaMapa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*diseño caja*/
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 40vw;

  }
  #CajaContacto h2, #CajaMapa h2{
    color: #588157;
    margin-top: 1.2em;
    margin-bottom: 15px;
  }
  #CajaContacto p{
    font-weight: bold;
  }
  #listaContacto{
    list-style: none;
    padding-left:0;
  }
  #listaContacto li{
    padding: 8px;
    
  }